.dinoList {
  list-style: none;
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 0;

  img {
    cursor: pointer;
  }
}

.teamArea {
  width: 20rem;
  height: 1rem;
  font-size: 1.5rem;
  text-align: center;
}
