.card {
  display: grid;
  grid-template-rows: auto auto 1fr;
  gap: 1rem;
  max-width: 20rem;
  position: relative;
  padding: 1rem 1rem 2rem 1rem;
  overflow: hidden;
  background-color: #c8b7b7;
  color: #000;
  border: 3px solid;
  border-radius: 0.5rem;
  z-index: 0;

  h1 {
    text-transform: lowercase;
    font-size: 2rem;
  }

  img {
    max-width: 12rem;
    margin: 0 auto;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; /* Remove to break click button test */
    background-color: rgba(255, 255, 232, 0.1);
    clip-path: polygon(0 0, 100% 100%, 0 100%, 0 0);
  }
}
